<div class="st-chatcard">
    <span style="font-weight: bold">{{rollType}}</span>
    <br />
    
    <div class="st-dms">{{{qdmHtml}}}</div>
    <div class="st-rolls">
        {{{rollHtml}}}
    </div>
</div>